{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 chrome versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-node",
    "react-loadable/babel"
  ]
}
