@charset "UTF-8";

.test {
  background: green;
}

.main {
  background-color: white;
  min-height: 100vh;
}

.loadable {
  background-image: url(./loader.gif);
  background-position: center;
  background-repeat: no-repeat;
}
